.meal {
    background: skyblue;
    align-content: center;
    border: salmon solid;
    
}

.meal:hover {
    cursor: pointer;
}

.selected {
    background: royalblue;
    border:salmon solid;
    align-content: center;
}